[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "sdcHierarchies"]
	path = sdcHierarchies
	url = https://github.com/bernhard-da/sdchierarchies
	shallow = true
	registered = true
