[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "cellKey"]
	path = cellKey
	url = https://github.com/cran/cellKey
	shallow = true
	registered = true
[submodule "sdcHierarchies"]
	path = sdcHierarchies
	url = https://github.com/bernhard-da/sdchierarchies
	shallow = true
	registered = true
[submodule "sdcTable"]
	path = sdcTable
	url = https://github.com/cran/sdcTable
	shallow = true
	registered = true
